RewriteEngine On
RewriteBase /api/


# 🔐 PASAR Authorization header (CLAVE para JWT)
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# permitir acceso directo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirigir a index.php
RewriteRule ^ server.php [QSA,L]